<!DOCTYPE html>
<html lang="pt-br" >
	<head>
		<title>Chat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="images/logoPreto.png">
    <title>Chat</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="stylesheets/styleChat.css" rel="stylesheet">
	</head>

	<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#" id="nomeDoUser">
        <%= usuarios[id].userName %>
      </a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/logout">Sair</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Online</span>
              </h6>

              <ul class="nav flex-column">
                  <% for(usuario of usuarios) {
                    if(usuario.status == 'online' && usuario.userName != usuarios[id].userName) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <%= usuario.userName %>
                        </a>
                      </li>
                  <% } 
                    } %>
              </ul>
  
              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Offline</span>
                <a class="d-flex align-items-center text-muted" href="#">
                  <span data-feather="plus-circle"></span>
                </a>
              </h6>

              <ul class="nav flex-column mb-2">
                <% for(usuario of usuarios) {
                  if(usuario.status == 'offline' && usuario.userName != usuarios[id].userName) { %>
                  <li class="nav-item">
                      <a class="nav-link" href="#">
                          <%= usuario.userName %>
                      </a>
                    </li>
                <% } 
                  } %>
              </ul>

              <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Ausente</span>
              </h6>

              <ul class="nav flex-column">
                  <% for(usuario of usuarios) {
                    if(usuario.status == 'ausente' && usuario.userName != usuarios[id].userName) { %>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <%= usuario.userName %>
                        </a>
                      </li>
                  <% } 
                    } %>
              </ul>
            </div>
          </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <div id="liveChatLeft" class="liveChat col">
                <header class="clearfix">
                  <a href="#" class="closeChat" id="closeChatHistory1">x</a>
                  <h4 clas="nameUser" id="ChatUser1">Nome do usuario</h4>
                </header>
                <div class="chat" id="chatLeft">
                  <div class="chatHistory" id="chatHistory2">
                    <!-- jquery gera o HTML -->
                  </div>
                  <form action="#" method="post" class="">
                    <fieldset>
                      <input type="text" id="messegeLeft" placeholder="Digite sua menssagem…" value="" autofocus>
                      <button type="button" id="submitLeft" class="buttonSubmit">Enviar</button>
                    </fieldset>
                  </form>
                </div>
              </div>
          </div>
        </main>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script  src="javascripts/script.js"></script>

	</body>
</html>
